[buildout]
unzip = true
newest = false
extends = versions.cfg
versions = versions
prefer-final = true
eggs =
    tribuna.policy
zcml =
    tribuna.policy
parts =
    scripts
    backup
# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

# =========================
# Develop external packages
# =========================
extensions =
    buildout_versions
    mr.developer
sources = sources
auto-checkout = *

[sources]
collective.z3cform.widgets = git https://github.com/termitnjak/collective.z3cform.widgets.git
plone.api = git https://github.com/plone/plone.api.git
tribuna.policy = git https://github.com/tribunasi/tribuna.policy
tribuna.content = git https://github.com/tribunasi/tribuna.content
tribuna.diazotheme = git https://github.com/tribunasi/tribuna.diazotheme
tribuna.annotator = git https://github.com/tribunasi/tribuna.annotator
collective.cookiecuttr = git https://github.com/termitnjak/collective.cookiecuttr.git branch=plone3-language-aware-no-registry


# =============================
# Generate all scripts for eggs
# =============================
[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
interpreter = zopepy
eggs = ${buildout:eggs}

[backup]
recipe = collective.recipe.backup
keep = 5

[ports]
client1    = 8080
zeo        = 8180
supervisor = 8280

[config]
# Main domain on which this project runs on
hostname = tribuna.si
