[buildout]
unzip = true
newest = false
extends = versions.cfg
versions = versions
prefer-final = true
#develop = .

extensions =
    buildout_versions
    mr.developer
eggs =
#    tribuna.buildout
    tribuna.policy
    tribuna.content
    tribuna.theme
    redomino.advancedkeyword
    collective.searchform

parts =
    scripts

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

auto-checkout = *

[sources]
tribuna.policy = svn https://svn.termitnjak.com/tribuna.policy/trunk/
tribuna.content = svn https://svn.termitnjak.com/tribuna.content/trunk/
tribuna.theme =  svn https://svn.termitnjak.com/tribuna.theme/trunk/

# =============================
# Generate all scripts for eggs
# =============================
[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
interpreter = zopepy
eggs = ${buildout:eggs}